@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

body{
    background: #000;
}

@theme {
    --color-primary: #D8ff36
}