@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

body{
    background: #000;
}

@theme {
    --color-primary: #D8ff36;

    @keyframes eqBar1 {
        0%,
        100%{
            height:20%,
        }
        50%{
            height:90%;
        }
    }

    @keyframes eqBar2 {
        0%,
        100% {
            height: 40%;
        }

        50% {
            height: 100%;
        }
    }
    @keyframes eqBar3 {
        0%,
        100% {
            height: 70%;
        }

        50% {
            height: 30%;
        }
    }
    @keyframes eqBar4 {
        0%,
        100% {
            height: 30%;
        }

        50% {
            height: 80%;
        }
    }
    @keyframes pulseRing {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        70% {
            transform: scale(1.4);
            opacity: 0;
            
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
    @keyframes bubbleOne {
        0% {
            bottom: -20%;
            right:-10%;
            opacity: 0;
            transform: scale(.3)
        }

        50% {
            bottom:0;
            right:0;
            oapcity:1;
            transform:scale(1.05);
        }

        100% {
            bottom:0;
            right:0;
            opacity: 1;
            transform:1;
            transform:scale(1);
        }
    }

    @keyframes bubbleTwo {
        0% {
            bottom: 0px;
            left: -40%;
            opacity: 0;
            transform: scale(.25)
        }

        50% {
            bottom: 30%;
            left: 0px;
            oapcity: 1;
            transform: scale(1);
        }

        100% {
            bottom: 30px;
            right: 0px;
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes bubbleThree {
        0% {
            bottom: 30%;
            left: 30%;
            opacity: 0;
            transform: scale(.35)
        }

        50% {
            bottom: 63%;
            left: 57%;
            oapcity: 1;
            transform: scale(1);
        }

        100% {
            bottom: 63%;
            left: 57%;
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes novoCtaCircle{
        0% {
            transform: scale(1)
        }

        50% { 
            transform: scale(0.85);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes novoCtaCircleTwo{
        0% {
            transform: scale(1)
        }

        50% { 
            transform: scale(0.75);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes onovoCtaCircleThree{
        0% {
            transform: scale(1)
        }

        50% { 
            transform: scale(0.65);
        }

        100% {
            transform: scale(1);
        }
    }

}

@layer utilities {
    .animate-eq1 {
        animation: eqBar1 1s infinite ease-in-out;
    }

    .animate-eq2 {
        animation: eqBar1 1.1s infinite ease-in-out;
    }

    .animate-eq3 {
        animation: eqBar1 1s infinite ease-in-out;
    }
    .animate-eq4 {
        animation: eqBar1 1.2s infinite ease-in-out;
    }

    .novo-bubble .bubbleOne {
        animation: 2.5s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 normal forwards running bubbleOne;
    }

    .novo-bubble .bubbleTwo {
        animation: 1.5s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 normal forwards running bubbleTwo;
    }

    .novo-bubble .bubbleThree {
        animation: 2s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 normal forwards running bubbleThree;
    }

}

/* custom CSS */